import java.nio.file.Files
import java.nio.file.NoSuchFileException
import java.nio.file.Paths

subprojects {

    repositories {
        mavenCentral()
    }

    apply plugin: 'java'

    dependencies {
        //implementation group: 'org.osgi', name: 'osgi.core', version: '7.0.0'
        //providedCompile group: 'org.osgi', name: 'org.osgi.core', version: '6.0.0'
    }

    jar {
        onlyIf { !compileJava.source.empty }
        manifest {
            def manif = "${projectDir}/META-INF/MANIFEST.MF"
            if (new File(manif).exists()) {
                from(manif)
            }
        }
    }
}

def p2bundle(name, version = '') {
    def pluginsFolder = Paths.get('/home/lx/Dokumente/Projects/eclipse/plugins')
    def jarFile = Files.walk(pluginsFolder, 1)
            .filter({ it.getName(it.getNameCount() - 1).toString().startsWith(name) })
    .sorted({a,b -> -a.toString().compareToIgnoreCase(b.toString())})
    .findFirst()
    .orElseThrow({ new NoSuchFileException(pluginsFolder.resolve(name + '.jar')) })

    if (jarFile.toFile().isDirectory()) {
        return files(Files.walk(jarFile).filter({
            it.getName(it.getNameCount() - 1).toString().endsWith('.jar')
        }).collect())
    }

    return files(jarFile)
}

apply from: 'subprojects.gradle'
